.Nav {
  z-index: 2;
  color: #F9F3E3;
  background-color:  rgba(30, 30, 30, 0.7);;
  position: fixed;
padding-top: 9rem;
padding-left:2rem;
padding-right: 2rem;
}
.Nav-li{
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}
.Nav-div-icon{
  width: 5rem;
}
.Nav-div-icon svg{
  padding: 1rem;
  fill: #F9F3E3;
}