:root {
  --primary: rgb(244, 240, 228);
  --secondary: #4f6b8c;
  --green: #6bbf59;
  --blue: #4a90e2;
}

.div-Contact--container {

  padding: 2rem;
  background-color: #fff;
  text-align: -webkit-center;
}
.div-Contact {
  background-color: #fff;
  border-radius: 2rem;
  box-shadow: 0px 10px 50px 0px rgba(19, 31, 111, 0.1);
  width: 100%;
}
.div-Contact--icon{
  display: none;
  text-align: center;
}
.div-Contact--flex{
  max-width: 72.25rem;
  justify-content: space-evenly;
}
.h3-Contact {
  font-size: 1.5rem;
  justify-self: center;
  padding:2.25rem 0.7rem 1rem;
  font-weight: 300;
  font-family: Poppins-SemiBold;
  color: var(--blue);
}

.form-Contact {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0 2.8rem 2.8rem 2.8rem
}

input {
  padding: 0.6rem 0.9rem;
  width: -webkit-fill-available;
  
  color: var(--secondary);

  border-radius: 2rem;
  background-color: #f7fcff;
  border-style: solid;
  border-width: 2px;
  border-color: #e9eef8;
}

#message {
  padding: 0.6rem 0.9rem;
  resize: none;

  color: var(--secondary);
  border-style: solid;
  border-width: 2px;
  border-color: #e9eef8;
  border-radius: 2rem;
  height: 8rem;
  background-color: #f7fcff;
  width: -webkit-fill-available;
}

.button-Contact {
  background-color: var(--blue);
  color: #fff;

  font-size: 0.875rem;
  font-family: Poppins-SemiBold;
  padding: .5rem 1rem;
  border-radius: 2rem;
  transition: 0.2s;
  border: 0.125rem solid var(--blue);
  cursor: pointer;
  margin: 0.3rem;
  width: fit-content;
  align-self: center;
}

.button-Contact:hover {
  color: var(--blue);
  background-color: #fff;
  transition: 0.2s;
}

/* HTML: <div class="loader"></div> */
.loader {
  font-weight: bold;
  font-family: monospace;
  font-size: 1.2rem;
  display: inline-grid;
}
.loader:before,
.loader:after {
  content: "Loading...";
  grid-area: 1/1;
  -webkit-mask: linear-gradient(90deg, #000 50%, #0000 0) 0 50%/2ch 100%;
  animation: l11 1s infinite cubic-bezier(0.5, 220, 0.5, -220);
}
.loader:after {
  -webkit-mask-position: 1ch 50%;
  --s: -1;
}
@keyframes l11 {
  100% {
    transform: translateY(calc(var(--s, 1) * 0.1%));
  }
}
@media (min-width: 766px) {

  .div-Contact--flex{
    display: flex;
    max-width: 72.25rem;
    flex-direction: row;
    gap:1rem;
    align-items: center;
}
.div-Contact--icon{
  width: 100%;
}
.div-Contact--icon{
  display: block;
}
}