:root {
  --primary: rgb(244, 240, 228);
  --secondary: #2c3e50;
  --green: #6bbf59;
  --blue: #4a90e2;
}

.div-Contact--container {
  display: flex;
  justify-content: center;
  padding: 2rem;
  background-color: #fff;
}
.div-Contact {
  background-color: #fff;
  padding: 1.25rem 2.8rem 2.8rem 2.8rem;
  border-radius: 2rem;
  box-shadow: 0px 10px 50px 0px rgba(19, 31, 111, 0.1);
  width: 100%;
}

.h3-Contact {
  font-size: 1.3rem;
  justify-self: center;
  padding: 1rem 0.7rem;
  font-weight: 300;
  font-family: Poppins-SemiBold;
  color: var(--secondary);
}

.form-Contact {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
}

input {
  padding: 0.6rem 0.9rem;

  font-size: 1rem;
  color: var(--secondary);

  border-radius: 2rem;
  background-color: #f7fcff;
  border-style: solid;
  border-width: 2px;
  border-color: #e9eef8;
}

#message {
  padding: 0.6rem 0.9rem;
  resize: none;
  font-size: 1rem;
  color: var(--secondary);
  border-style: solid;
  border-width: 2px;
  border-color: #e9eef8;
  border-radius: 2rem;
  height: 8rem;
  background-color: #f7fcff;
}

.button-Contact {
  background-color: var(--blue);
  color: #fff;

  font-size: 1.05rem;
  font-family: Poppins-SemiBold;
  padding: 1rem 2rem;
  border-radius: 2rem;
  transition: 0.2s;
  border: 0.125rem solid var(--blue);
  cursor: pointer;
  margin: 0.3rem;
  width: fit-content;
  align-self: center;
}

.button-Contact:hover {
  color: var(--blue);
  background-color: #fff;
  transition: 0.2s;
}

/* HTML: <div class="loader"></div> */
.loader {
  font-weight: bold;
  font-family: monospace;
  font-size: 1.2rem;
  display: inline-grid;
}
.loader:before,
.loader:after {
  content: "Loading...";
  grid-area: 1/1;
  -webkit-mask: linear-gradient(90deg, #000 50%, #0000 0) 0 50%/2ch 100%;
  animation: l11 1s infinite cubic-bezier(0.5, 220, 0.5, -220);
}
.loader:after {
  -webkit-mask-position: 1ch 50%;
  --s: -1;
}
@keyframes l11 {
  100% {
    transform: translateY(calc(var(--s, 1) * 0.1%));
  }
}
