:root {
  --primary:rgb(244, 240, 228);
  --secondary:rgba(30, 30, 30);
  --green:#6BBF59;
  --blue:#4A90E2;
  }

.Nav {
  position: fixed;
  padding-top: 2rem;
  z-index: 4;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
  color: var(--primary);
  background-image: url(../assets/img/background.jpg);
  background-repeat: repeat;

}

.Nav.Nav--open {
  transform: translateY(0);
}

.Nav-div--h1 {
  display: flex;
  justify-content: left;
  padding: 0 0 2rem 1.3rem;
}

.Nav-a {
  display: flex;
  align-items: center;
  padding-left: 2rem;
}

.Nav-div--social {
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.Nav-div-icon {
  width: 5rem;
  display: flex;
  justify-content: center;
  
}
.Nav-div-icon svg {
  padding: 1rem;
  fill: var(--primary);
}
