:root {
  --primary:rgb(244, 240, 228);
  --secondary:rgba(30, 30, 30);
  --green:#6BBF59;
  --blue:#4A90E2;
  }
.circle {
  fill: var(--secondary);
  opacity: 0;
  transition: all 0.3s;
  transform: scale(1.65);
  transform-origin: center;
}
.Porfile-div-icon {
  width: 4rem;
  display: flex;
  justify-content: center;
  /* background-color: red; */
}
.a-Porfile--social{
display: flex;
align-items: center;
cursor: pointer;
max-width: 100%;
max-height: 100%;
padding: 0;
width: 4rem;
height: 4rem;
}
.a-Porfile--social:hover{
  color: var(--primary);
}
.a-Porfile--social:hover circle {
  opacity: 1;
  transition: all 0.3s;
}

.div-Porfile--container {
  min-height: calc(100vh - 4rem);

}
  .div-Porfile--info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 2rem 2rem 2rem;
}
.div-Porfile-infoButton{
  display: flex;
  justify-content: center;
}
.img-Porfile--coverImage{
  width: calc(100vw - 1.05rem);
  height: 10rem;
}
.h2-Porfile {
  font-family: Caveat;
  font-size: 2rem;
  font-weight: 500;
}
.figure-Porfile {
  display: flex;
  justify-content: center;
  position: relative;
    top: -3rem;
}
.h3-Porfile {
  font-family: Poppins-SemiBold;
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  position: relative;
  top:-3rem
}
.greenColor{
color:var(--green);

}
.blueColor{
  color: var(--blue);
}
.blackColor{
  color:rgba(30, 30, 30);
}
.greenColorBackgorund{
  background-color:var(--green) ;
  border: 0.125rem solid  var(--green);
  }
  .greenColorBackgorund:hover{
    color:var(--green) ;
    }
  .blueColorBackgorund{
    background-color: #4A90E2;
    border: 0.125rem solid  #4A90E2;
  }
  .blueColorBackgorund:hover{
 color: #4A90E2;
  }

  .blackColorBackgorund{
    background-color:var(--secondary);
    border: 0.125rem solid var(--secondary);
  }

  .blackColorBackgorund:hover{
    color:var(--secondary);
  }
.div-Porfile--name{
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: calc(100vw - 1.05rem);
  padding: 2rem 0 2rem 0;
background-color: rgba(244, 240, 228, 0.627);
backdrop-filter: blur(8px);
z-index: 3;
}

.p-Porfile {
  padding: 1rem 0 1rem 0;
  max-width: 31rem;
}
.img-Porfile {
  border-radius: 100%;
  max-width: 6rem;
  border: solid 4px var(--secondary);
}
.button-Porfile {
  color: var(--primary) ;
  font-family: Poppins-SemiBold;
  padding: .1rem 1rem;
  border-radius: 0.5rem;
  transition: 0.2s;
  cursor: pointer;
}

.button-Porfile:hover {
  background-color: var(--primary) ;
transition: 0.2s;

}
.li-Porfile {
  list-style: inside;
  padding-bottom: 1rem;
  max-width: 31rem;
}
