:root {
  --primary:rgb(244, 240, 228);
  --secondary:#4f6b8c;
  --green:#6BBF59;
  --blue:#4A90E2;
  }
.circle {
  fill: var(--secondary);
  opacity: 0;
  transition: all 0.3s;
  transform: scale(1.65);
  transform-origin: center;
}
.Porfile-div-icon {
  width: 4rem;
  display: flex;
  justify-content: center;
  color: var(--primary);

}
.img-Porfile--h2{
  width: 3rem;
  position: relative;
  top: 0.8rem;
}
.a-Porfile--social{
display: flex;
align-items: center;
cursor: pointer;
max-width: 100%;
max-height: 100%;
padding: 0;
width: 4rem;
height: 4rem;
transition: all 0.3s;
}
.div-Porfile-infoButton .Porfile-div-icon:hover{
  color: var(--secondary);
}
.Porfile-div-icon:hover{
  color: rgba(244, 240, 228, 0.491);
}
.div-Porfile--container {
  
  background-image: linear-gradient(40deg, #4A90E2 49%, #6BBF59 100%);
  z-index: 0;
}
  .div-Porfile--info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.div-Porfile-infoButton{
  display: flex;
  justify-content: center;
}
.div-Porfile--coverImage{
  background-image: url(../assets/img/backgroundPorfile.png);
  background-position: center;
  padding: 1rem;
}
.h2-Porfile {
  font-family: Poppins-ExtraBold;
  font-size: 2rem;
  font-weight: 500;
  padding-left: 1.3rem;
  color: var(--secondary);
}
.figure-Porfile {
  display: flex;
  justify-content: center;

}
.h3-Porfile {
  font-family: Poppins-SemiBold;
  color: var(--primary);
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin: 1rem 0 1rem 0;
 
}
.greenColor{
color:var(--green);

}
.blueColor{
  color: var(--blue);
}
.blackColor{
  color:var(--secondary);
}
.greenColorBackgorund{
  background-color:var(--green) ;
  border: 0.125rem solid  var(--green);
  }
  .greenColorBackgorund:hover{
    color:var(--green) ;
    }
  .blueColorBackgorund{
    background-color: #4A90E2;
    border: 0.125rem solid  #4A90E2;
  }
  .blueColorBackgorund:hover{
 color: #4A90E2;
  }

  .blackColorBackgorund{
    background-color:var(--secondary);
    border: 0.125rem solid var(--secondary);
  }

  .blackColorBackgorund:hover{
    color:var(--secondary);
  }
.div-Porfile--name{
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: left;
  
  padding: .2rem 2rem 1rem 2rem;
background-color: rgba(255, 255, 255, 0.627);
backdrop-filter: blur(8px);
z-index: 3;
}

.p-Porfile {
  line-height: 1.6;
  margin: 1rem 0 1rem 0;
  text-align: center;
  color: var(--primary);
}
.img-Porfile {

  max-width: 11rem;

}
.button-Porfile {
  color: var(--primary) ;
  font-family: Poppins-SemiBold;
  padding: .1rem 1rem;
  border-radius: 0.5rem;
  transition: 0.2s;
  cursor: pointer;
}

.button-Porfile:hover {
  background-color: var(--primary) ;
transition: 0.2s;

}
.li-Porfile {
  list-style: inside;
  padding-bottom: 1rem;
  max-width: 31rem;
}
