body{
    background-image: url(./assets/img/background.jpg);
    background-repeat: repeat;
}
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    /* background-color: rgba(30, 30, 30, 0.6);  */
    z-index: 1;}