:root {
--primary:rgb(244, 240, 228);
--secondary:#2c3e50;
--green:#6BBF59;
--blue:#4A90E2;
}
body{
    background-color: #fff;
    /* background-image: url(./assets/img/background.jpg);
    background-repeat: repeat; */
}
/* body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(244, 240, 228);
    z-index: 1;} */